@import '../styles/sass-includes';

.game__container {
  height: calc(100vh - 9rem);
  display: flex;
  align-items: center;
  overflow: hidden;
  // media queries
  @include breakpoint($mobile-md) {
    height: calc(100vh - 6rem);
  }
}
