.board {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto; }
  .board > div {
    width: 33.33%;
    padding-bottom: 32.662%;
    border: 0.1rem solid black;
    font-size: 6rem;
    position: relative;
    cursor: pointer; }
    .board > div.played {
      cursor: not-allowed; }
      .board > div.played:hover {
        background-color: salmon; }
    .board > div:hover {
      background-color: lightgreen; }
    .board > div span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.board__heading {
  text-align: center;
  height: 15.3rem; }
  @media only screen and (max-width: 540px) {
    .board__heading {
      height: 12rem; } }
