@import '../styles/sass-includes';

.board {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;

  > div {
    width: 33.33%;
    padding-bottom: 32.662%;
    border: 0.1rem solid black;
    font-size: 6rem;
    position: relative;
    cursor: pointer;

    &.played {
      cursor: not-allowed;
      // pointer-events: none;

      &:hover {
        background-color: salmon;
      }
    }

    &:hover {
      background-color: lightgreen;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.board__heading {
  text-align: center;
  height: 15.3rem;
  // media queries
  @include breakpoint($mobile-md) {
    height: 12rem;
  }
}
